@charset "UTF-8";

:root{
    --primary-color: #0d0d0d;
    --secondary-color: rgb(247, 114, 187);
    --branco: white;
}

*{
    background-color: rgb(0, 0, 0);  
}

header{
    position: fixed;    
    top: 0;             
    left: 0;           
    width: 100%;        
    z-index: 1000;     
    
    background-color: var(--primary-color); 
    color: white;
    padding: 10px 0px;
    align-items: center; 
}

header a{
    color: var(--branco);
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
    transition: 0.3s;
}

header a:hover{
    color: var(--secondary-color);
}

ul, a{
    background-color: var(--primary-color);
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

img{
    width: 200px;;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid rgb(166, 11, 107);;
    margin: 150px auto 0 auto;
}

div{
    color: var(--branco);
}

h3{
    color: white;
    text-align: center;
}

.btn{
    background-color: var(--secondary-color);
    color: white;

    width: 80px;
    height: auto;
    border-radius: 5px;
}